@page "/positions"
@using TeamGatherer.Shared.ViewModels
@inject HttpClient Http

<PageTitle>Должности</PageTitle>

<h1>Должности</h1>

@if (_errorList.Any())
{
    @foreach (var error in _errorList)
    {
        <p><em>Ошибка: @error</em></p>
    }
}

<table>
    <tr>
        <th>Наименование</th>
    </tr>
    @foreach (var employee in PositionsViewModels)
    {
        <tr>
            <td>@employee.Name</td>
        </tr>
    }
</table>

@code {
    private readonly List<string> _errorList = new();

    protected List<PositionViewModel> PositionsViewModels { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            PositionsViewModels = await Http.GetFromJsonAsync<List<PositionViewModel>>("api/Staff/GetPositions") ?? new List<PositionViewModel>();
        }
        catch (Exception exception)
        {
            _errorList.Add(exception.Message);
        }
    }
}